body{
font-family: Arial,sans-serif;
background-color: black;
color: white;

}
h1{
margin-bottom: 20px;

}
.grid{
display: grid;
grid-template-columns: repeat(10,30px);
grid-template-rows: repeat(10,30px);
gap: 2px;
justify-content: center;
margin: 0 auto;

}
.wall{

    background-color: #0033cc;
    border:  2px solid #001a66;
}

.dot{
background-color: black;
position: relative;

}
.dot::after{
content: "";
position: absolute;
top: 40%;
left: 40%;
width: 6px;
height: 6px;
background: white;
border-radius: 50%;
}





.pacman{
    background-color: black;
    border-radius: 50%;
    background-image: url(pacman.png);
    background-size: cover;
    background-position: center;
  
}



.red{

    background-image: url(red.png);
    background-size: cover;
    background-position: center;
    
}

.pink{
    
    background-image: url(pink.png);
    background-size: cover;
    background-position: center;
}


